<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador - objetivo" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header') %>
    <div class="containar">
      <div>
        <h3>Futuro do Projeto torne-se um programador</h3>
        <p>
          Para entender assista o video abaixo:
        </p>

        <iframe class="fluxo_video" onload='app.hideLoading()' src='https://www.youtube.com/embed/SbAmLb6gQDU' frameborder='0' allowfullscreen>
        </iframe>
      </div>
      <br>
      <div class="buttons">
        <a class="button" href="/sobre">Sobre</a>
      </div>
    </div>
    <script src="/javascripts/zepto.js"></script>
    <script src="/javascripts/functions.js"></script>
  </body>
</html>
