<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador - Vagas" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <div class="container">
      <br>
      <div class="buttons">
         <a class="button" href="/">Voltar</a>
      </div>
      <br>
      <div>
        <ul id="vagas">
          <li>
            <div class="vaga">
              <p>
                Data: 18/11/2015<br>

                Programador Sênior ou especialista.<br>
                <br>
                Linguagens que a empresa utiliza:  Ruby, Rails, Python, Scala, Java, PostgreSQL, Oracle, ElasticSearch, Docker e AWS.   <br> 
                <br>
                Principais responsabilidades do cargo:   <br>
                • Realizar atividades pertinentes à área de Administração de Banco de Dados (Oracle, Postgres, MySql, dentre outras).<br>   
                • Trabalhar juntamente com usuários e analistas no desenvolvimento das especificações e design do banco de dados.   <br>
                • Liderar projetos de desenvolvimento de banco e demais estruturas de dados. <br>
                • Manter a segurança e integridade dos dados depositados e da infraestrutura que os sustenta.  <br>
                • Desenvolver soluções de dados criativas para os problemas estratégicos, condução da aquisição de dados, colaborando com soluções para armazenamento, seleção, pré-processamento e formatação.   <br>
                Cadastre-se nesta oportunidade, se você possui:  <br>
                • Identificação com a nossa visão e valores.  <br>
                • Experiência com administração de Bancos de dados relacionais (Oracle, PostgreSQL, SQLServer).  <br>
                • Experiência em análise de problemas e tuning de banco de dados.  <br>
                • Experiência com gerenciamento de Backup e Recovery. <br>
                • Experiência com manipulação de grande volume de dados.  <br>
                • Conhecimento de infraestrutura (SO: Linux, Windows, Hw, Redes).   Por que a Bionexo faz a diferença para você? Porque ela possui:  <br>
                • Salários e benefícios atrativos, e horário flexível.   <br>
                • Equipes colaborativas e de alta performance, as quais encontram um espaço de contribuição ativa para a resolução de demandas e melhorias.  <br>
                • Soluções inteligentes para a gestão de compras, agregando valor ao cliente e a comunidade ao fortalecer valores éticos nas relações de saúde<br>
                <br>
                Contato: Luana Godas - <br>
                <a href="https://br.linkedin.com/in/luana-godas-15aa745a" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Estágio em WEBDESIGN<br>
                Link:<br>
                <a href="https://www.linkedin.com/hp/update/6070892408520871936" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Vaga Desenvolvedor Java Sênior Elo7<br>
                Link: <br>
                <a href="https://www.linkedin.com/jobs2/view/79645683" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Vagas Urgentes para QA - Atuar na Zona sul de São Paulo.<br>
                Automação em testes (Selenium e mobile) Scrum<br>
                Inglês intermediário<br>
                Interessados enviar CV para Helen.matos@5a.com.br<br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Desenvolvedor PHP Junior<br>
                Dados da vaga:<br>
                Forma de Contratação: CLT + Benefícios <br>
                Local de trabalho: Região da Santa Cecilia – São Paulo – SP<br>
                Requisitos Obrigatórios:<br>
                2 anos atuando com PHP<br>
                PHP<br>
                OO<br>
                MySQL OU SQL Server<br>
                Conhecimento com Frameworks PHP<br>
                Jquery<br>
                Ajax<br>
                CSS<br>
                HTML<br>
                Contato: wagner.silva@5a.com.br
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Arquiteto de sistemas<br>
                Link: <br>
                <a href="https://www.linkedin.com/hp/update/6069830253377777664" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Arquiteto da informação<br>
                Link: <br>
                <a href="https://www.linkedin.com/hp/update/6070204718666305536" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Coordenador de sistemas<br>
                Link: <br>
                <a href="https://www.linkedin.com/hp/update/6068769442404323328" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                Data: 13/11/2015<br>
                Programador Ruby Pleno/Sênior<br>
                Link: <br>
                <a href="https://www.linkedin.com/hp/update/6069827892907372544" target="_blank">
                  Link vaga
                </a>
              <p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <%- include('../shared/adsense') %>
    <%- include('../shared/footer') %>
  </body>
</html>
