<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,user-scalable=no">
<link rel="icon" href="/imagens/icon.png" />
<link rel="stylesheet" href="/stylesheets/global.css">
<title><%= title %></title>