/*###############################################################################
            RESET
###############################################################################*/

html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
:focus{
  outline: 0;
}
strong{
  font-weight: 700;
}
html{min-height: 100%}
body, {
  line-height: 1;
  overflow-x: hidden;
  font-family: verdana;
}
ol, ul, li{
  list-style:none
}
table{
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td{
  font-weight:normal;
  text-align:left
}
blockquote:before, blockquote:after, q:before, q:after{
  content: "";
}
blockquote, q{
  quotes:"" ""
}
a{
  font-weight: bold;
  text-decoration: none;
  color:#0099cc;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

/* FONTS */
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
}

/* GERAL */
body{
  font-family:"Arial";
  font-size:13px;
  padding:45px 0 50px;
}
.hide{display:none;}
.wrapper{
  width:320px;
  margin:auto;
  overflow:hidden
}
img{
  background: url('../images/spinner.gif') no-repeat center center;
  border-radius: 9px 9px 9px 9px;
}
.separator, .separator-dotted{
  margin:10px 0
}
.separator:first-child, .separator-dotted:first-child{
  margin-top: 0;
}
.separator{
  margin:10px 0;
  border-top:2px solid #ccc
}
.separator-dotted{
  margin: 10px 0;
  border-top: 1px dotted #999;
}
h2{
  margin:30px 0 10px;
  font-size:14px;
  font-weight:bold;
  color:#ccc;
  text-align:center
}
h3{
  margin:   10px 0;
  font:bold 18px 'Arial';
  color:#333
}
h4{
  margin:   10px 0;
  font:bold 18px 'Arial';
  line-height: 1;
  color:#333
}
h4 a{ color: inherit; }
h3.separator{
  padding-top: 10px;
}

/* HEADER */
body{background-color: #fff;}
header{position:fixed;top:0;left:0;z-index:10;float:left;padding:10px;width:100%;height:45px;background:#405e99;-webkit-backface-visibility:hidden;box-sizing: border-box;-webkit-box-sizing: border-box}
header .logo{display: block;margin: auto;width: 330px;font: bold 12px/30px 'Arial';color: #fff;text-align: center;text-transform: uppercase;}
div.containar{ text-align: center; margin-left: auto;margin-right: auto; display: block;}
div.containar img{ width: 100%}
div.containar button{
    background-repeat: repeat-x;
    border-color: #245580;
    background-color: #265a88;
    margin: 5px 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff
}
div.containar p{
  padding: 10px;
}
div.containar #videos .video{
  padding: 10px;
}

.miniBtn{
  background-color: #265a88;width: 100px;height: 18px;border-radius: 4px;padding: 6px;margin-left: 2px;color: #fff;font-size: 12px;
}

.inputFind{
  border:2px solid #337ab7;height: 17px;border-radius: 4px;color: #265a88;padding: 3px;
}

div.containar #videos li{
  border-top: 1px solid #bde2ff;
}
footer{position:fixed;bottom:0;z-index:10;float:left;padding:4px;width:100%;height:20px;background:#405e99;-webkit-backface-visibility:hidden;box-sizing: border-box;-webkit-box-sizing: border-box}
footer div{color:#fff;font-size:10px;float:right;margin-right:10px}


p.carregando{
  margin-top: 10px;
  text-indent: -99999px;
  background: #fff url('../images/spinner.gif') no-repeat center;
}

.load_container{ height: 10px; margin-top: 10px; margin-bottom: 5px; }





