<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header') %>
    <div class="containar">
      <div class="top">
        <a href="/sobre/objetivo">
          <img class="image-tornese" src="/imagens/torne-se-image.jpg">
        </a>
      </div>
      <h3>Projeto torne-se um programador</h3>
      <p>
        Com ele você irá aprender tudo que precisa para se tornar um programador.
      </p>
      <br>
      <div class="buttons">
        <a class="button" href="/aulas">Aulas</a>
        <a class="button" href="/sobre">Sobre</a>
      </div>
    </div>
    <script src="/javascripts/zepto.js"></script>
    </div>
  </body>
</html>
